 /*Formatting titre site*/
 
 .alice{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 40px;
     font-weight: bold;
  }
 

 
 
 
 /*formatting the footer
 
 .footer {
     width: 100%;
     height: 80px;
     display: flex;
     flex-direction: column;
     position: fixed;
     bottom: 0;
     text-align: center;
     justify-content: space-between;
     background: #d5dad1;
     filter: opacity(80%);
     overflow:hidden;
      }*/

 

      /* Sformatting Navbar */ 

      .navbar-container { 
        padding: 20px; 
        background-color: #a4b197; 
        justify-content: center;
        }

      .menu { 
        display: flex; 
        flex-wrap: wrap; 
        margin: 0; 
        padding: 0; 
        font-size: 1.5rem;
        } 



        .menu-item { 
        list-style: none;
        flex: 0 0 20%;  
        text-decoration: none;
        display: flex; 
        justify-content: stretch;
        color: black; 
        } 
        
        /* Style pour le bouton hamburger */ 
        .hamburger { 
            display: none; 
            cursor: pointer; 
            font-size: 2rem; 
            padding: 10px; 
            color: black; 
        } 

        /* Masque la checkbox */ 
        #toggle { display: none; }
        
        /* Médias queries pour les petits écrans */ 
        @media (max-width: 768px) { 
            .menu { 
                display: none; 
                flex-direction: column; 
                width: 100%; 
            } 
            
            #toggle:checked + .menu { 
                display: flex; 
            } 
            
            .hamburger { 
                display: block; 
            } 
            
            .menu-item { 
                flex: 1 0 auto; 
                width: 100%; 
                text-align: center; 
                padding: 10px; 
            } 
        }


 
 /*formating Presentations*/
 
 .presentation{ 
     font-size: 25px;
     text-align: justify;
     margin-top: 120px;
     margin-left: 20%;
     margin-right: 20%;
  }
 
 

 
 
 /*formating consultation*/
 .containerC { 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; margin: 20px; } 

.columnC { 
    padding: 20px; 
    box-sizing: border-box; /* Pour inclure le padding et la bordure dans la largeur totale */ }


 /* Médias queries pour les petits écrans */ 
    @media (max-width: 768px) 
    { .containerC { grid-template-columns: repeat(2, 1fr); /* Passe à deux colonnes */ } }

 /* Médias queries pour les très petits écrans */ 
    @media (max-width: 480px) 
    { .containerC { grid-template-columns: 1fr; /* Passe à une seule colonne */ } } 
 
 .ellipse {
      transform: scale(0.90) skew(0deg);
      font-size: x-large;
      border-radius: 250px;
      text-align: center;
      height: 500px;
  }

 
 
 
 
 /*formatting modal*/
 
 .modal-window {
     position: fixed;
     background-color: rgba(255, 255, 255, 0.25);
     top: 0;
     right: 0;
     bottom: 0; 
     left: 0; 
     z-index: 999;
     visibility: hidden;
     opacity: 0;
     pointer-events: none;
     transition: all 0.3s;
 }
 
 .modal-window:target {
     visibility: visible;
     opacity: 2;
     pointer-events: auto;
 }
 
 .modal-window > div {
     width: 360px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 2em;
     background: #cdd3ba;
 }
  
 .modal-window header {
     font-weight: bold;
 }
 
 .modal-window h1 {
     font-size: 150%;
     margin: 0 0 15px;
 }
 
 .modal-close {
     color: #aaa;
     line-height: 50px;
     font-size: 80%;
     position: absolute;
     right: 0;
     text-align: center;
     top: 0;
     width: 70px;
     text-decoration: none;
 }
 
 .modal-close:hover {
     color: black;
 }
 .soutienPsy{
    text-align: justify;
 }
 
 
/* .manifeste{
     margin-left: 35%;
     padding: 10px;
     background:#FFFFFF;
     border-radius: 5px; 
     height: 655px;
     width: 350px; 
     position: relative; 
     transition: all 0.4s ease-in-out; 
     align-items: center;
 }*/
 
 