<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>INFOS_PRATIQUES</title>
    </head>
    <body style="background: #d5dad1;">
        <div th:insert="header :: header"></div>

        <div class="containerC">
            <div class="columnC">
                <img style="width: 300px; margin-left: 100px; margin-top: 100px" th:src="@{/img/Alice.jpg}" alt="THEBAULT Alice" >
            </div>
            <div class="columnC" style="text-align: center">
                <h2 style="font-weight: bold">Proche de la Chapelle sur Erdre, Sucé sur Erdre, Grandchamps des Fontaines, Treillières, Carquefou et Nort sur Erdre</h2>
                <br>
        <h3>Durée et tarif des consultations (à compter du 01/01/2025)</h3>
                <h4>Consultation individuelle enfant, adolescent et adulte</h4><br>
            Séance de 40 minutes, au tarif de 55€<br>

           <h4> Consultation famille et couple</h4>
            1ère séance de 1h30, au tarif de 150€<br>
            séance de suivi de 40 minutes, au tarif de 75€

                <h4> Consultation adulte dispositif "Mon Soutien Psy"</h4>
                Séance de 40 minutes, au tarif de 50€<br>

            </div>
            <div class="columnC">
                <img style="width: 300px; margin-left: 100px; margin-top: 100px" th:src="@{/img/cabinet.jpg}" alt="Cabinet Psychologue">
            </div>
        </div>


<div class="col" style="text-align: center">
    <h4 style="font-weight: bold">Le cabinet est accessible aux personnes à mobilité réduite</h4>
        <h4 >Règlement et facturation</h4>
           <h4> Le règlement des consultations se fait à l’issue de chaque entretien, <br>
        par chèque libellé à l’ordre d’Alice Thébault, ou bien par espèces.<br></h4>

    Le titre de psychologue clinicien garantit un Master II en psychologie clinique et psychopathologie. <br>
    Ce titre est protégé et enregistré auprès de l'Agence Régionale de Santé protégeant ainsi les patients contre l'exercice illégal de cette profession.<br>
    Mon numéro ADELI vous permet d'avoir accès au remboursement de vos séances par votre mutuelle.<br>

    N'hésitez pas à me demander une facture <br>
    <br>

            Toute consultation non annulée et non honorée sera due.

    <br>
            <p style="font-weight: bold">Je fais partie du dispositif “Mon Soutien Psy”, pour plus d’explication veuillez cliquer ici :

    <div class="container">
        <div class="interior">
            <a class="btn" href="#manifeste"><img style="width: 30px;" th:src="@{/img/monpsy1.jpg}" alt="monPsy"></a>
        </div>
    </div>

    <div id="manifeste" class="modal-window">
        <div>
            <a href="#" title="Close" class="modal-close">Close</a>
            <div class="soutienPsy"><h4>Conventionné par la CPAM, ce dispositif gouvernemental permet un accompagnement psychologique
            pour des personnes n'ayant pas la possibilité financière d'y accéder, à hauteur de 12 séances par an, au tarif de 50 euros.</h4><br>
            Plus d'informations sur le site www.info.gouv.fr/actualite/monparcourspsy-un-dispositif-pour-faciliter-lacces-a-un-accompagnement-psychologique<br><br>
            Les créneaux seront disponibles les matinées des lundis, mardis et jeudi pour les adultes uniquement. <br><br>
            Si vous souhaitez bénéficier de cet accompagnement, la prise de rendez-vous se fera exclusivement sur Doctolib dans la catégorie "Soutien Psy Adulte".
            A l'issue de l'accompagnement, je ferai une feuille de soins récapitulative des différents rendez-vous, afin que vous puissiez bénéficier du remboursement des séances par la CPAM.<br><br>
            <h4>Tous les créneaux restent disponibles à l'ensemble des patients hors dispositif Mon Soutien Psy.</h4></div>
        </div>
    </div>


</div>
        </div>
            <br>
            <br>.
            <br>.
            <br>.
        </div>
        <div th:insert="footer :: footer"></div>
    </body>
    </html>