<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>PRENDRE RDV</title>
    </head>
    <body style="background: #d5dad1;">
        <div th:insert="header :: header"></div>

        <link th:href="@{styles/css/app.css}"
        rel="stylesheet" />

        <h2 style="text-align: center; font-size: 25px;"> Proche de la Chapelle sur Erdre, Sucé sur Erdre, Grandchamps des Fontaines, Treillières, Carquefou et Nort sur Erdre. <br>
        </h2>
<div class="containerC">

    <div class="columnC">
        <img style="width: 400px; margin-left: 100px; margin-top: 100px" th:src="@{/img/ext.jpg}" alt="exterieur bureau">
    </div>

    <div class="columnC" style="width: 500px; text-align: center; font-size: 20px ; margin-top: 50px; margin-left: 50px" >

        

        <h3>Jours et horaires de consultations :</h3>
        Lundi :<br>
10h00 - 13h45, 15h00 - 19h30<br>
Mardi :<br>
09h45 - 13h30, 14h45 - 19h00<br>
Mercredi :<br>
09h15 - 12h15, 13h00 - 16h15<br>
Jeudi :<br>
10h00 - 13h45, 15h00 - 19h30<br>
        sur rendez-vous
        <br><br><br>
        <a href="https://www.doctolib.fr/psychologue/casson/alice-thebault/booking/motives?profile_skipped=true&telehealth=false&placeId=practice-150990&specialityId=14">
            <img th:src="@{/img/doctolib.jpg}" alt="doctolib">
        </a>
        <br><br><br>
        5 impasse François Dollier de Casson <br>
        44 390 Casson
    </div>


    <div class="columnC">

        <p><iframe style="margin-left: 50px; margin-top: 100px;  margin-left: 50px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1274.957312834295!2d-1.561401722940202!3d47.38188800644221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805f7f23b7a8969%3A0x9ad1446502f75819!2sAlice%20Th%C3%A9bault%20Psychologue!5e0!3m2!1sfr!2sfr!4v1683024568264!5m2!1sfr!2sfr" width="400" height="250" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
    </div>


</div>
</div>

<br>
<div th:insert="footer :: footer"></div>
<br>

</body>
</html>