<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>PRENDRE_RDV</title>
    </head>
    <body>
        <div th:insert="header :: header"></div>

        <div class="row">


            <div class="col">
                <img style="width: 400px; margin-top: 150px" src="{{ asset('img/ext.jpg') }}" alt="exterieur bureau">
            </div>

            <div class="col" style="width: 300px; text-align: center; font-size: 20px ; font-weight: bold; margin-top: 50px" >
                Jours et horaires de consultations :<br>
                du Lundi au Jeudi<br>
                de 10h à 20h <br>
                sur rendez-vous
                <br><br><br>
                <a href="https://www.doctolib.fr/psychologue/casson/alice-thebault/booking/motives?profile_skipped=true&telehealth=false&placeId=practice-150990&specialityId=14">
                    <img src="{{ asset('img/doctolib.jpg') }}" alt="doctolib">
                </a>
                <br><br><br>
                5 impasse François Dollier de Casson <br>
                44 390 Casson
            </div>


            <div class="col">
               <p style="text-align: justify; font-size: 20px; margin-left: 50px"> Proche de la Chapelle sur Erdre, Sucé sur Erdre, Grandchamps des Fontaines, Treillières, Carquefou et Nort sur Erdre. <br>
                 </p>
                <p><iframe style="margin-left: 50px; margin-top: 40px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1274.957312834295!2d-1.561401722940202!3d47.38188800644221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805f7f23b7a8969%3A0x9ad1446502f75819!2sAlice%20Th%C3%A9bault%20Psychologue!5e0!3m2!1sfr!2sfr!4v1683024568264!5m2!1sfr!2sfr" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>


        </div>

    <div class="row">
        <br>
        <br>
        <br>
        <br>
    </div>

    </body>
    </html>