<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <footer>
    
        <!--css pour le footer-->
        <div style="width: 100%;
        height: 80px;
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        text-align: center;
        justify-content: space-between;
        background: #d5dad1;
        filter: opacity 0.8;;
        overflow:hidden;">

            Alice Thébault - Psychologue à Casson (44 390)
            <br>Tel : 06.48.58.02.32   N° Adeli : 44 93 11 372 <br>
        </div>
    </footer>
    </body>
    </html>