<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
    <header>
       <link th:href="@{styles/css/app.css}"
            rel="stylesheet" />
    
            <div style=" margin: 0;
            padding: 1rem 0.5rem;
            font-family: 'Abril Fatface', serif;
            font-size: 2.8rem;
            font-weight: bold;
            line-height: 150%;
            text-align: center;">
            Alice THEBAULT <br>
            Psychologue Clinicienne à Casson</div>

            <!--css pour position logo doctolib-->
            <aside style="position: fixed;
                    top: 0px; right: 0px;">
                <a href="https://www.doctolib.fr/psychologue/casson/alice-thebault" target="_blank">
                   <img th:src="@{/img/doctolib.jpg}" alt="Prendre rendez-vous en ligne"></a>
              </aside>
    
            <div th:insert="navbar :: navbar"></div>   
        </header>
    </body>
    </html>