<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>
    
 <link th:href="@{styles/css/app.css}"
        rel="stylesheet" />
</head>
<body>



<nav th:fragment="navbar"> 

    <div class="navbar-container">
  
        <input type="checkbox" id="toggle"> 
        <label for="toggle" class="hamburger">☰</label> 
        

        <div class="menu"> 
            <a th:href="@{/}" class="menu-item">Présentation</a> 
            <a th:href="@{/consultations}" class="menu-item">Consultations</a> 
            <a th:href="@{/experiences}" class="menu-item">Expériences</a> 
            <a th:href="@{/infos_pratiques}" class="menu-item">Informations pratiques</a> 
            <a th:href="@{/prendreRdv}" class="menu-item">Prendre rendez vous</a> 
        </div> 
    </div> 
</div>
</nav>

</body>
</html>