<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NavigationBar</title>

</head>
<body>

<nav th:fragment="navbar">
    <link th:href="@{styles/css/app.css}"
        rel="stylesheet" />
    <div class="nav">

        <label for="toggle">☰</label>
            <input type="checkbox" id="toggle">
<div class="main-pages">
    <a th:href="@{/}">Présentation</a>
    <a th:href="@{/consultations}">Consultations</a>
    <a th:href="@{/experiences}">Expériences</a>
    <a th:href="@{/infos_pratiques}">Informations pratiques</a>
    <a th:href="@{/prendre_rdv}">Prendre rendez-vous</a>
</div>
    </div>    
</nav>

</body>
</html>